.enlace_oracle-presentacion{

    color: #C74634;
    text-decoration: none;
}

.enlace_alura-presentacion{

    color: #6bd1ff;
    text-decoration: none;
}

.enlace_seProgramar-presentacion{

    color: #c75197;
    text-decoration: none;
}

.enlace_argentinaPrograma-presentacion{

    color: #0072bb;
    text-decoration: none;
}

.enlace_creceConGoogle-presentacion{

    color: #00763d;
    text-decoration: none;
}