.item-lista-formacion {

    background: linear-gradient(104.04deg,rgba(115,9,250,.2058) 34.3%,rgba(214,57,253,.1568) 87.19%);
    border: 3px solid #c821f9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 350px;
}