.mensaje-form{

    background: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    outline: none;
    resize: none;
}

.mensaje-form::placeholder{

    font-size: 1rem;
    color: #a0a0a0;
}