.mensaje-form{

    background: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    outline: none;
    resize: none;
}

.mensaje-form::placeholder{

    font-size: 16px;
    color: #a0a0a0;
}