.icon-skills{
    font-size: 3.75rem;
    margin-bottom: 1rem;
}

.icon-html{

    color: #FF5733;
}

.icon-javascript{

    color: #f0db4f;
}

.icon-css{

    color: #264de4;
}

.icon-git-hub{

    color: #f1502f;
}