.presentacion{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 360px) {
    
    .presentacion{

        align-items: flex-start;
        flex-direction: column-reverse;
    }
}