.item-lista-proyectos{

    align-items: center;
    display: flex;
    height: 500px;
    margin-bottom: 2rem;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    
    .item-lista-proyectos{

        align-items: flex-start;
        flex-direction: column;
        height: 100%;
    }
}