.formulario-contacto{

    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    width: 40%;
}

@media screen and (max-width: 360px) {
    
    .formulario-contacto{

        width: 90%;
    }
}