.descripcion-contenedor-presentacion{
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}

@media screen and (max-width: 360px) {
    
    .descripcion-contenedor-presentacion{

        margin: 0;
    }
}