.btn_demo-enlace-proyectos{

    background: #3d0631;
    border-radius: 100px;
    box-shadow: 0 0 14px rgb(235 75 152 / 78%);
    color: #fff;
    padding: 1.25rem;
    text-decoration: none;
}

.btn_demo-enlace-proyectos:hover{

    background: linear-gradient(90.19deg,#6039fd .16%,#301C7E 99.84%);
    box-shadow: 0 0 14px rgb(96 57 253 / 78%);
    transform: translateY(5px);
}