.enlace-item-lista-presentacion{

    color: #ffffff;
    text-decoration: none;
}

.icon-lista-presentacion{

    margin-left: .5rem;
}

.enlace-item-lista-presentacion:hover{

    color: #6039fd;
    font-size: 1.375rem;
}