.foto_perfil-presentacion{

    border-radius: 100%;
}

@media screen and (max-width: 360px) {

    .foto_perfil-presentacion{

        align-self: center;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 768px) and (min-width: 361px) {
    
    .foto_perfil-presentacion{

        width: 30%;
    }
}