.cuerpo{
    background: linear-gradient(180.06deg,#070104 .05%,#3d0530 71.07%);
    color: white;
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 360px) {
    
    .cuerpo{

        margin: 0 auto;
        width: 90%;
    }
}

@media screen and (min-width: 361px) and (max-width: 768px) {
    
    .cuerpo{

        margin: 0 auto;
        width: 80%;
    }
}