.input-formulario{

    background: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    outline: none;
    padding-bottom: .5rem;
}

.input-formulario::placeholder{

    font-size: 0.875rem;
    color: #a0a0a0;
}