.imagen-proyectos{

    border-radius: 20px;
    height: 100%;
    width: 50%;
    margin: 0 2rem;
}

@media screen and (max-width: 360px) {
    
    .imagen-proyectos{

        height: 50%;
        margin: 1rem 0;
        width: 100%;
    }
}