.btn_repositorio-enlace-proyectos{

    background: linear-gradient(90.19deg,#ff547b .16%,#d639fd 99.84%);
    border-radius: 100px;
    box-shadow: 0 0 14px rgb(235 75 152 / 78%);
    color: #fff;
    padding: 1.25rem;
    text-decoration: none;
    margin-right: 2rem;
}

.btn_repositorio-enlace-proyectos:hover{

    background: linear-gradient(90.19deg,#bdb0f1 .16%,#7354ee 99.84%);
    box-shadow: 0 0 14px rgb(96 57 253 / 78%);
    transform: translateY(5px);
}